<!DOCTYPE HTML>
<html lang="en">


<!-- Mirrored from wp.alithemes.com/html/evara/evara-backend/page-account-login.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 01 Aug 2021 15:33:33 GMT -->

<head>
    <title>Cotton Candy</title>
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:title" content="">
    <meta property="og:type" content="">
    <meta property="og:url" content="">
    <meta property="og:image" content="">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="/img/title-img.jpg" ">
    <!-- Template CSS -->
    <link href="assets/css/main.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.4/css/jquery.dataTables.min.css">

    <style>
        .password-toggle {
            position: absolute;
            top: 50%;
            right: 10px;
            transform: translateY(-50%);
            cursor: pointer;
        }

        .password-toggle::before {
            content: "\f070";
            font-family: "Font Awesome 5 Free";
            font-weight: 900;
        }

        .password-toggle.show::before {
            content: "\f06e";
        }
    </style>
</head>

<body>
    <main>

        <section class="content-main mt-80 mb-80">
            <h1 class="card-title mb-4 text-center">Admin Login</h1>
            <div class="card mx-auto card-login">
                <div class="card-body">
                    <h4 class="card-title mb-4 text-center">Sign in</h4>
                    <% var msg=msg || '' ; %>
                        <% if (msg) { %>
                            <span class="text-danger font-weight-bold text-center">
                                <%= msg %>
                            </span>
                            <% } %>
                                <form action="/admin/adminlogin" method="post">
                                    <div class="mb-3">
                                        <input class="form-control" placeholder="Email" name="email" type="text">
                                    </div> <!-- form-group// -->
                                    <div class="mb-3">
                                        <input class="form-control" placeholder="Password" name="password"  type="password" id="passwordField">
                                        <span id="togglePassword" class="password-toggle"></span>
                                    </div> <!-- form-group// -->
                                    <div class="mb-3">
                                        <a href="/admin/forgotpassadmin" class="float-end font-sm text-muted">Forgot
                                            password?</a>
                                    </div> <!-- form-group form-check .// -->
                                    <div class="mb-4">
                                        <button type="submit" class="btn btn-dark w-100"> Login </button>
                                    </div> <!-- form-group// -->
                                </form>
                        
                    
                               
                </div>
            </div>
        </section>
        <!-- <footer class="main-footer text-center">
            <p class="font-xs">
                <script>
                document.write(new Date().getFullYear())
                </script> ©, Evara - HTML Ecommerce Template .
            </p>
            <p class="font-xs mb-30">All rights reserved</p>
        </footer> -->
    </main>
    <script src="assets/js/vendors/jquery-3.6.0.min.js"></script>
    <script src="assets/js/vendors/bootstrap.bundle.min.js"></script>
    <script src="assets/js/vendors/jquery.fullscreen.min.js"></script>
    <!-- Main Script -->
    <script src="assets/js/main.js" type="text/javascript"></script>
</body>


<!-- Mirrored from wp.alithemes.com/html/evara/evara-backend/page-account-login.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 01 Aug 2021 15:33:33 GMT -->

</html>


<script>
    $(document).ready(function () {
        $("#togglePassword").click(function () {
            var passwordField = $("#passwordField");
            var fieldType = passwordField.attr("type");

            if (fieldType === "password") {
                passwordField.attr("type", "text");
                $(this).addClass("show");
            } else {
                passwordField.attr("type", "password");
                $(this).removeClass("show");
            }
        });
    });

</script>