<aside class="navbar-aside" id="offcanvas_aside">
    <div class="aside-top">
        <a href="#" class="brand-wrap">
            <img src="/assets/imgs/theme/logo.png" class="logo" alt="Evara Dashboard">
        </a>
        <div>
            <button class="btn btn-icon btn-aside-minimize"> <i class="text-muted material-icons md-menu_open"></i> </button>
        </div>
    </div>
    <nav>
        <ul class="menu-aside">
            <li class="menu-item ">
                <a class="menu-link" href="/admin/adminpanel"> <i class="icon material-icons md-home"></i>
                    <span class="text">Dashboard</span>
                </a>
            </li>
            <li class="menu-item ">
                <a class="menu-link" href="/admin/productlist"> <i class="icon material-icons md-shopping_bag"></i>
                    <span class="text">Products</span>
                </a>
               
            </li>
            <li class="menu-item ">
                <a class="menu-link" href="/admin/orderlist"> <i class="icon material-icons md-shopping_cart"></i>
                    <span class="text">Orders</span>
                </a>
                
            </li>
            <li class="menu-item ">
                <a class="menu-link" href="/admin/userslist"> <i class="icon material-icons md-person"></i>
                    <span class="text">Users</span>
                </a>
               
            </li>
            <li class="menu-item has-submenu">
        
            <li class="menu-item ">
                <a class="menu-link" href="/admin/coupen"> <i class="icon material-icons md-comment"></i>
                    <span class="text">Coupen</span>
                </a>
                
            </li>
            <li class="menu-item">
                <a class="menu-link" href="/admin/categories"> <i class="icon material-icons md-store"></i>
                    <span class="text">Categories</span>
                </a>
                
            </li>
            <li class="menu-item">
                <a class="menu-link" href="/admin/offer"> <i class="icon material-icons md-monetization_on"></i>
                    <span class="text">Offers</span>
                </a>
            </li>
            <li class="menu-item">
                <a class="menu-link" href="/admin/banner"> <i class="icon material-icons md-monetization_on"></i>
                    <span class="text">Banner</span>
                </a>
            </li>
        </ul>
        <hr>
        <!-- <ul class="menu-aside">
            <li class="menu-item has-submenu">
                <a class="menu-link" href="#"> <i class="icon material-icons md-settings"></i>
                    <span class="text">Settings</span>
                </a>
                <div class="submenu">
                    <a href="page-settings-1.html">Setting sample 1</a>
                    <a href="page-settings-2.html">Setting sample 2</a>
                </div>
            </li>
           
        </ul> -->
        <br>
        <br>
    </nav>
</aside>


<script>
    function setActive() {
  var element = document.getElementById("myElement");
  element.classList.toggle("active");
}

</script>