<footer class="main-footer font-xs">
    <div class="row pb-30 pt-15">
        <div class="col-sm-6">
            <script>
            document.write(new Date().getFullYear())
            </script> ©, Cotton Candy
        </div>
        <div class="col-sm-6">
           
        </div>
    </div>
</footer>
</main>
<script src="assets/js/vendors/jquery-3.6.0.min.js"></script>
<script src="assets/js/vendors/bootstrap.bundle.min.js"></script>
<script src="assets/js/vendors/select2.min.js"></script>
<script src="assets/js/vendors/perfect-scrollbar.js"></script>
<script src="assets/js/vendors/jquery.fullscreen.min.js"></script>
<script src="assets/js/vendors/chart.js"></script>
<!-- Main Script -->
<script src="assets/js/main.js" type="text/javascript"></script>
<script src="assets/js/custom-chart.js" type="text/javascript"></script>

<script src="https://code.jquery.com/jquery-3.5.1.js"></script>

<script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js"></script>

<script>
    $(document).ready(function () {
       $('#user-list').DataTable();
      });
</script>

<script>
    $(document).ready(function () {
       $('#order-list').DataTable();
      });
</script>
<script>
$(document).ready(function () {
    $('#product-list').DataTable();
      });
</script>

<script>
    $(document).ready(function () {
       $('#sales-list').DataTable();
      });
</script>
<script>
    $(document).ready(function () {
       $('#category-list').DataTable();
      });
</script>
<script>
    $(document).ready(function () {
       $('#coupon-list').DataTable();
      });
</script>
<script>
    $(document).ready(function () {
       $('#offer-list').DataTable();
      });
</script>


</body>


<!-- Mirrored from wp.alithemes.com/html/evara/evara-backend/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 01 Aug 2021 15:32:57 GMT -->
</html>

